
*.pyc
IMDB_scraper/.DS_Store
IMDB_scraper/.ipynb_checkpoints/Blog_post_3_visualization-checkpoint.ipynb
IMDB_scraper/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
IMDB_scraper/_site/*
IMDB_scraper/.jekyll-cache/Jekyll/Cache/Jekyll--Cache/b7/9606fb3afea5bd1609ed40b622142f1c98125abcfe89a76a661b0e8e343910
